a.dark-link {
  color: #363636 !important;
}

.content ul {
  margin-left: 1em !important;
  margin-top: 0em !important;
}

hr.content-divider {
  background-color: white;
  max-width: 75px;
  height: 5px;
}

#main {
  background: url(/images/mamiya_80mm_hp5_012.jpg) rgba(0, 0, 0, 0.5);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}

#projects {
  background-image: url(/images/mamiya_80mm_hp5_007.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#education {
  background-image: url(/images/mamiya_80mm_hp5_003.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#experience {
  background-image: url(/images/mamiya_80mm_hp5_006.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Turn off parallax scrolling for all tablets and phones. */
@media only screen and (max-device-width: 1023px) {
  #main, #projects, #education, #experience {
    background-attachment: scroll;
  }
}
